<!DOCTYPE HTML>
<html>

<head>
  <title>UTC - IP Cam viewer</title>
  <% include header %>

</head>

<body>
  <!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
  mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer">
          <center>
            <h1>UTC - IP Cam viewer</h1>
          </center>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
        mdl-textfield--floating-label mdl-textfield--align-right">
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="sample" id="fixed-header-drawer-exp">
          </div>
        </div>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">IP Cam list</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect" id="1">
          <i class="material-icons">videocam</i>ในบ้าน</a>
        <a class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect" id="2">
          <i class="material-icons">videocam</i>หน้าบ้านซ้าย</a>
        <a class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect" id="3">
          <i class="material-icons">videocam</i>หน้าบ้านขวา</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">
        <img id="jpegImg" style="top: 40%;left: 50%;transform: translate(-50%, -50%);position: absolute;">
      </div>
    </main>
  </div>

  <% include script %>
</body>

</html>